# vi: ft=bzl
# Skipped on platform %{platform} by rule configuration

cc_library(
    name = "lib",
    srcs = [],
    hdrs = [],
    visibility = ["//visibility:public"],
)

cc_library(
    name = "internal_lib",
    srcs = [],
    visibility = ["//visibility:public"],
)
