# vi: ft=bzl
# Skipped on platform %{platform} by rule configuration

filegroup(
    name = "internal_lib",
    srcs = [],
    visibility = ["//visibility:public"],
)

filegroup(
    name = "lib",
    srcs = [],
    visibility = ["//visibility:public"],
)
